<ion-header>
  <ion-toolbar>
    <ion-title class="title">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item class="item">
      <img class="img" src="../../assets/img/res1.jpg">
      <div>
        <p class="pragr">Bla Bla Bla </p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <img class="img" src="../../assets/img/res2.jpg">
      <div>
        <p class="pragr">Bla Bla Bla </p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <img class="img" src="../../assets/img/res3.jpg">
      <div>
        <p class="pragr">Bla Bla Bla </p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <img class="img" src="../../assets/img/res4.jpg">
      <div>
        <p class="pragr">Bla Bla Bla </p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <img class="img" src="../../assets/img/res1.jpg">
      <div>
        <p class="pragr">Bla Bla Bla </p>
      </div>
    </ion-item>
  </ion-card>
</ion-content>