.title{
    text-align: center;
    width: 100%;    
    font-size: 2.0em;
    font-family: 'Times New Roman', Times, serif
}
ion-card {
    position: relative;
    border-radius: 35px;
    padding: 5px;
}
.img{
    height: 100px;
    width: 100px;
    border-radius: 45px;
}
.pragr{
    text-align: center;
    // position: absolute;
    padding-left: 30px;
    width: 100%;    
    font-family: 'Times New Roman', Times, serif
}
