<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Reserve
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Phone Num</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>People</ion-label>
        <ion-input type="number" ></ion-input>
      </ion-item>

  </ion-list>

  <ion-button ion-button full shape="round" color="primary" fill="outline">Sign In</ion-button>

</ion-content>