<ion-header>
  <ion-toolbar>
    <ion-title class="title">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card class="card">
    <img src="../../assets/img/res1.jpg" />
    <div class="card-title">SOHO
    </div>
    <div class="card-subtitle">
      <ion-button href="https://www.facebook.com/soho.dunajska" shape="round" color="danger" fill="outline">Visit
      </ion-button>
    </div>
  </ion-card>

  <ion-card class="card">
    <img src="../../assets/img/res2.jpg" />
    <div class="card-title">Pivovar</div>
    <div class="card-subtitle">
      <ion-button href="http://www.mestianskypivovar.sk/" shape="round" color="danger" fill="outline">Visit</ion-button>
    </div>
  </ion-card>

  <ion-card class="card">
    <img src="../../assets/img/res3.jpg" />
    <div class="card-title">Buddha</div>
    <div class="card-subtitle">
      <ion-button href="http://www.greenbuddha.sk/" shape="round" color="danger" fill="outline">Visit </ion-button>
    </div>
  </ion-card>

  <ion-card class="card">
    <img src="../../assets/img/res4.jpg" />
    <div class="card-title">BeAbout</div>
    <div class="card-subtitle">
      <ion-button href="https://www.beabout.sk/" shape="round" color="danger" fill="outline">Visit
      </ion-button>
    </div>
  </ion-card>

</ion-content>